{% extends "accounts/dashboard.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li>/</li>
    <li><a href="{% url 'courses:announcements' course.slug %}">{{ course }}</a></li>
{% endblock %}

{% block menu_options %}
<li class="pure-menu-heading">
    {{ course }}
</li>
<li>
    <a href="{% url 'courses:lessons' course.slug %}">
        <i class="fa fa-video-camera"></i>
        Lectures and Resources
    </a>
</li>
<li>
    <a href="#">
        <i class="fa fa-info-circle"></i>
        Information
    </a>
</li>
<li>
    <a href="{% url 'courses:announcements' course.slug %}">
        <i class="fa fa-envelope"></i>
        Announcements
    </a>
</li>
<li>
    <a href="#">
    <i class="fa fa-comments"></i>
        Q&A
    </a>
</li>
{{ block.super }}
{% endblock %}